body {
    font-family: system-ui, sans-serif;
}

.logo {
    width: 320px;
    height: 120px;
}

.header-nav {
    align-items: center;
    padding: 10px 20px;
}

.header-nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    background-color: #fd9013;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-nav a:hover {
    background-color: #007bff;
    color: white;
}

main {
    display: flex;
}

aside {
    flex: 1;
    padding: 20px;
    max-height: 70vh;
    overflow-y: auto;
}

#outlet-post {
    flex: 2;
    padding: 20px;
}

#outlet ul {
    list-style: none;
    padding: 0;
}

#outlet li {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #fd9013;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.1em;
}

#title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#outlet-post-detail textarea {
    width: 100%;
    height: 80px;
    font-size: 16px;
}

#outlet-post-detail label {
    display: block;
}

#outlet-post-detail div {
    margin: 20px;
}

#outlet-post-detail input,
#outlet-post-detail textarea {
    margin: 10px;
}

#outlet-post-detail input {
    width: 100%;
    font-size: 16px;
}

#outlet-post-detail a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    background-color: #fd9013;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#outlet-post-detail a:hover {
    background-color: #007bff;
    color: white;
}

#outlet-post-detail button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #fd9013;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#outlet-post-detail button:hover {
    background-color: #007bff;
    color: white;
}
